  <section class="section">
  <div class="container">
    <section class="columns">
      <!-- left and middle -->
      <section class="column is-9">
        <h1 class="title is-2 has-text-danger" >Popular on Medium</h1>
        <section class="columns">
          <!-- left -->
          <section class="column is-6">
            <%= render 'popular_top', story: @stories_clap.first unless @stories_clap.first.nil? %>
          </section>
          <!-- left -->
          <!-- middle -->
          <section class="column">
            <% 1.upto(3) do |index|%>
              <%= render 'popular_other', story: @stories_clap[index] unless @stories_clap[index].nil? %>
            <% end %>
          </section>
          <!-- middle -->
        </section>
      </section>
      <!-- left and middle -->
      <!-- right -->
      <section class="column">
        <h1 class="title is-3 has-text-danger" >Followed Author</h1>
        <% if user_signed_in? %>
          <% @follow_users.each do |user| %>
            <%= render 'follow_user', user: user %>
          <% end %>
        <% else %>
        <h1 class="title is-4 has-text-danger" >Please login to follow</h1>
        <% end %>
      </section>
      <!-- right -->
    </section>

    <hr>

    <section class="columns">
      <!-- article list -->
      <section class="column is-two-thirds">
        <h1 class="title is-3 has-text-danger" >Article List</h1>
        <% @stories.each do |story|%>
            <article class="media">
                <div class="media-content">
                    <h2 class="title is-4"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
                    <p class="content"><%= strip_tags(story.content).truncate(200) %></p>
                    <footer>
                    <p><%= link_to story.user.username, user_page_path(story.user.username), class: 'has-text-blue-dark' %> | <%= time_ago_in_words(story.updated_at) %> ago</p>
                    </footer>
                </div>
                <% if story.cover_image.attached? %>
                  <figure class="media-right">
                    <%= image_tag story.cover_image.variant(resize: '150x150') %>
                  </figure>
                <% end %>
            </article>
        <% end %>
      </section>
      <!-- article list -->

      <section class="column">
        <h2 class="title is-4 has-text-danger">Bookmarked Story</h2>
        <hr>
        <% if user_signed_in? %>
          <% @bookmark_stories.each do |story| %>
            <%= render 'bookmark_story', story: story %>
          <% end %>
        <% else %>
          <h1 class="title is-4 has-text-danger" >Please login to favorite</h1>
        <% end %>
      </section>
    </section>
  </div>
</section>