<%= form_for(story) do |from| %>
    <div class='field'>
        <%= from.label :title, "標題" %>
        <%= from.text_field :title, class: 'input is-primary is-medium' %>
    </div>

    <div class='field'>
        <%= from.label :content, "內容" %>
        <%= from.text_area :content, rows: 10, class: 'textarea is-primary' %>
    </div>
    <div class='field'>
        <%= from.submit "儲存草稿",name: 'save_as_draft', class: 'button is-light' %>
        <%= from.submit "發佈故事", name: 'publish', class: 'button is-primary' %>
    </div>
<% end %>
